/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 14, 60);
  background: url(image2.png);
}
body footer{
  background: url(footerimage.png);
  border: 1px hidden black;
  width: 100%;
}
a{
  color: rgb(14, 14, 60);
  text-decoration: none;
}
header{
  border: 1px solid black;
  overflow: hidden;
  border-style: hidden;
}
header a, header li{
  list-style: none;
  text-decoration: none;
}
.dxx{
  background: rgb(14, 14, 60);
  color: white;
  padding: 3.3px 5px;
}
aside span{
  font-weight: bold;
}
#kjk{
  font-weight: bold;
}
/******************************************
/* LAYOUT
/*******************************************/
header{
  margin: 0 1%;
  height: 80px;
}
header *{
  float: left;
}
header a{
  margin-top: 1%;
}
header nav{
  width: 60%;
  margin-left: 30%;
}
header nav a{
  height: 25%;
  padding-right: 19px;
}
main > section{
  float: left;
  height: 410px;
}
main img{
  height: 353px;
  width: 504px;
}
main section + section{
  width: 50%;
  margin-left: 10%;
  padding-left: 8%;
}
#kpp{
  padding-top: 35px;
  width: 40%;
  font-size: 1.1em;
}
#tgg{
  margin-left: 1%;
}
  input{
    width: 38%;
  }
  #pxu{
    margin-left: -1.2%;
  }
aside > section{
  float: left;
  width: 25%;
  height: 220px;
}
footer{
  float: left;
}
main, aside{
  margin-left: 5%;
}
footer p, footer h1{
  margin-left: 5%;
}
main span{
  color: rgb(101, 97, 97);
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media all and (max-width:950px) {
    header > nav, #tgg, aside, footer{
    display: none;
  }
  header{
    margin: 0 1%;
    height: 40px;
    text-align: center;
  }
  #kjk, main > section{
    float: none;
    width: 100%;
  }
  form input, form a{
    width: 100%;
  }
  #kpp{
    padding: 0;
  }
  main img{
    height: 200px;
    width: 300px;
  }
  main section + section{
    padding: 0;
    margin: 0;
  }
}